@charset "utf-8";
@use "sass:color";

// Forward variables first (must be before @use)
@forward "minima/variables";

// Use variables and partials
@use "minima/variables" as *;
@use "minima/base" as *;
@use "minima/layout" as *;
@use "minima/syntax-highlighting" as *;
@use "minima/toc" as *;
@use "minima/albums" as *;
