<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <style>
    body {
      font-family: 'Lusitana', serif;
      /* font-family: 'Computer Modern Serif'; */
      font-size: 18px;
      letter-spacing: -0.01rem;
      line-height: 1.5;
    }
  </style>
  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

    <script src="{{ '/assets/js/footnotes.js' | relative_url }}"></script>
  </body>

</html>